# Git
.git
.gitignore

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.venv/
venv/

# Local env / secrets
.env
.env.*

# Logs & outputs
logs/
evaluation/results/
*.log

# Notebooks
notebook/
*.ipynb

# OS / editor
.DS_Store
.vscode/
.idea/

# Docker metadata
**/.dockerignore
**/Dockerfile